<h1>{{ entityType | titlecase }}</h1>
<div *ngIf="pages.length > 1" class="paginator">
  <a
    *ngIf="currentPage > 1"
    [routerLink]="['/', entityType]"
    [queryParams]="{ page: currentPage - 1 }"
    queryParamsHandling="merge"
    >Prev</a
  >
  <a
    *ngFor="let page of pages"
    [class.current-page]="currentPage === page"
    [routerLink]="['/', entityType]"
    [queryParams]="{ page: page }"
    queryParamsHandling="merge"
    >{{ page }}</a
  >
  <a
    *ngIf="currentPage < pages.length"
    [routerLink]="['/', entityType]"
    [queryParams]="{ page: currentPage + 1 }"
    queryParamsHandling="merge"
    >Next</a
  >
</div>
<div class="thumbnail-wrapper">
  <app-thumbnail *ngFor="let entity of entities" [type]="entityType" [entity]="entity"></app-thumbnail>
</div>
