:host {
  margin: auto;
}

.paginator {
  display: flex;
  justify-content: center;

  a {
    background-color: white;
    font-weight: 600;
    padding: 8px 16px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: rgb(190 210 255);
    }
  }

  a + a {
    border-left: 1px solid gray;
  }

  a:first-child {
    border-radius: 8px 0 0 8px;
  }

  a:last-child {
    border-radius: 0 8px 0 0;
  }
}

.current-page {
  box-shadow: inset 0 0 4px 2px purple;
}

.thumbnail-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 300px));
  justify-content: center;
  max-width: 800px;
}

app-thumbnail {
  margin: 8px;
}
