/* You can add global styles to this file, and also import other style files */
html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0 0 20);
  color: rgb(230 230 230);
  margin: 0;
}

h1 {
  color: rgb(255 255 190);
  text-align: center;
}

.visibly-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
